
.creat
{
    background-color: #f9eee1;
    height: 300px;
    width: 200px;
    font-size: 18px;
    text-align: left;
    text-align: center;
    padding-top: 40px;
    margin: 50px;
    border-radius: 10px;
    font-family:"DM Sans", sans-serif ;
}
strong
{
    color: #9110e2;
}
.creat2 
{
    background-color:#ffcb6b;
    height: 300px;
    width: 200px;
    font-size: 18px;
    text-align: center; 
    margin: 50px;
    border-radius: 10px;
    font-family:"DM Sans italic", sans-serif ;
    padding-top: 20px;
    font-weight: 800px;
    transform: translateY(-20px);
}

.contant {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    transform: translate( -300px   , -760px );

}
.creat3{
    background-color: #7650dc;
    height: 270px ;
    width: 400px;
    font-size: 24px;
    text-align: center;
    border-radius: 10px;
    font-family: " DM+Sans italic", sans-serif ;
    padding-top: 40px;
    color: white;
}
.creat3 strong {
    color : hsl(39, 100%, 71%);
}
@media (max-width: 768px) {
    .contant {
        transform: translate(0 , 0);
    }
    .creat3 {
        width: 90%;
        font-size: 20px;
    }
}
.cont{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    transform: translate( -390px   , -800px );
}
.creat4 {
    height: 180px;
    width: 170px;
    background-color: #4a2525;
    font-family: "DM+Sans:italic", sans-serif ;
    padding-top: 20px;
    margin: 50px;
    border-radius: 10px; 
    padding-left: 10px;
    
}
@media (max-width: 768px) {
    .cont {
        transform: translate(0 , 0);
    }
}
.contans{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    transform: translate( -390px   , -840px );
}
.creat5{
    height: 150px;
    width: 170px;
    background-color: #9e1c52ac;
    font-family: "DM+Sans:italic", sans-serif ;
    padding-left: 15px;
    padding-bottom: 10px;
    text-align: left;
    border-radius: 10px;
    transform:scale(1);
}
.creat5 small{
    font-size: 10px;
    font-weight: lighter;
}





